* {
    margin: 0;
    padding: 0;
    font-family: barlow;
    color: #2e2c2c;
}

#container {
    max-width: 2200px;
    margin: 0 auto;
    width: 100%;
    background-color: #F3F3F3;
}

#div-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 120px;
}

#div-nav-header nav ul {
    display: flex;
    gap: 100px;
}

#div-nav-header nav ul li {
    list-style: none;
}

#div-nav-header a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#header-content {
    height: 520px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-bg-header {
    background-image: url(../imgs/bg-header.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #0000004f;
    width: 100%;
    height: 100%;
    position: absolute;
}

#header-content-texts {
    z-index: 10;
    position: relative;
    width: 50%;
    text-align: center;
}

#header-content-texts h1 {
    font-size: 69px;
    font-weight: normal;
    border-bottom: 2.5px solid gray;
    padding-bottom: 25px;
    margin-bottom: 30px;
    color: white;
}

#header-content-texts p {
    font-size: 32px;
    margin-bottom: 30px;
    color: white;
}

#header-content-texts button {
    font-size: 20px;
    color: white;
    border: none;
    background-color: #88BA27;
    padding: 20px 65px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

#header-content-texts button:hover {
    background-color: rgb(151, 201, 50);

}

/* DIV NOSSOS TRABALHOS */

#div-trabalhos {
    border-bottom: 2px solid #0000009d;
    padding-bottom: 50px;
}

#div-trabalhos-title {
    border-bottom: 2px solid #0000009d;
    padding: 30px 100px;
    color: #2e2c2c;
    margin-bottom: 50px;
}

#trabalhos-itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.trab-item {
    width: 240px;
    height: 240px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 3px 3px 3px #00000059;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-radius: 5px;
}

.trab-item h1 {
    font-size: 25px;
}

#trabalho-parag {
    font-size: 18px;
    width: 820px;
    margin: auto;
    text-align: center;
}

#trabalho-parag span {
    color: #88BA27;
    font-weight: bold;
}

/* DIV ESPECIALIZAÇÃO */
#div-especializacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

#div-especializacao>div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
}

#div-especializacao section {
    width: 530px;
}

#div-especializacao section h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

#div-especializacao section p {
    font-size: 18px;
    margin-bottom: 30px;
}

#div-especializacao section button {
    background-color: #88BA27;
    border: none;
    padding: 21px 81px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
}

#div-especializacao section button:hover {
    background-color: #98ca34;
}

#div-imgs-espec>div {
    display: flex;
}

#div-imgs-espec img {
    width: 329px;
    height: 260px;
}

#div-imgs-espec>div:nth-child(1) img:nth-child(1) {
    border-radius: 45px 0px 0px 0px;
}

#div-imgs-espec>div:nth-child(2) img:nth-child(1) {
    border-radius: 0px 0px 0px 45px;
}

/* DIV PILARES */

#div-pilares {
    background-color: #88BA27;
    padding: 70px 10px;
}

#div-pilares>h1 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

#pilares-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

#pilares-content section {
    width: 320px;
    background-color: white;
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#pilares-content section h1 {
    font-size: 24px;
}

#pilares-content section p {
    font-size: 18px;
}

/* DIV EXPLICAÇÃO SERVIÇOS */

#div-explicacao-servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px;
}

#servicos-content {
    width: 80%;
}

#servicos-content section {
    margin-bottom: 50px;
}

#servicos-content h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#servicos-content p {
    font-size: 18px;
}

#servicos-imgs {
    width: 50%;
    height: 544px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#servicos-imgs img {
    position: absolute;
}

#servicos-imgs img:nth-child(1) {
    filter: blur(1.5px);
}

#servicos-imgs img:nth-child(2) {
    transform: translate(-50px, -30px);
}

/* DIV CONTATO */

#div-contato {
    background-image: url(../imgs/bg-div-contato.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #000000c5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 479px;
}

#contato-form {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 418px;
}

#contato-form section {
    text-align: center;
    margin-bottom: 20px;
}

#contato-form section h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#contato-form section p {
    font-size: 16px;
}

#contato-form>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contato-form>div input,
#contato-form>div textarea {
    background-color: #D9D9D9;
    border-radius: 4px;
    padding: 5px 10px;
    border: none !important;
    font-size: 18px;
}

#contato-form>div input:focus {
    outline: none;
}

#contato-form>div textarea:focus {
    outline: none;
}

#contato-form>div button {
    background-color: #05E01A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

#contato-form>div button:hover {
    background-color: #34e445;
}

#div-map img {
    width: 418px;
    height: 377px;
    border-radius: 20px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 50px 20px;
    background-color: white;
}

footer img,
footer h1 {
    margin-bottom: 20px;
}